@import url('./general.css');

.section-title{
    margin: 15px 20px 20px 20px;
    text-align: center;
}
.title{
    font-size: var(--font-zise-title);
    margin-bottom: 15px;
    color: rgb(64, 66, 66);
    /* color: rgb(3, 188, 212); */
}

.counter-text{
   font-size: var(--font-zise-primary); 
}

@media (max-width: 900px){
    .section-title{
        position: fixed;
        z-index: 1;
        background: rgb(245, 238, 238);
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
    }

    .title{
        margin-top: 15px;
    }

    .counter-text{
        margin-bottom: 100px;
    }
}