.create-button{
    display: flex;
    position: absolute; /*fixed*/
    width: 40px;
    height: 40px;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    border: none;
    background: rgb(55, 172, 94);
    box-shadow: 0px 1px 20px -4px rgba(0,0,0,0.76);
    -webkit-box-shadow: 0px 1px 20px -4px rgba(0, 0, 0, 0.329);
    -moz-box-shadow: 0px 1px 20px -4px rgba(0,0,0,0.76);
    color: white;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    transform: rotate(0);
    transition:  .5s ease;

    z-index: 1;
}

.create-button:hover{
    transform: rotate(224deg);
}

.create-button:active{
    background: rgb(29, 151, 70);
}