@import url('./general.css');

.section-title{
    margin: 25px 20px 20px 20px;
    text-align: center;
}
.title{
    font-size: var(--font-zise-title);
    margin-bottom: 5px;
}

.counter-text{
   font-size: var(--font-zise-primary); 
}